﻿@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>

</head>
<body>
    <main>
        <section>
            <a href="https://localhost:44384/Blog/Registrar"><h3>=>Crear BlogPost<=</h3></a>
            <h1>LISTA DE POSTS:      </h1>
            <ul>

                @foreach (BlogPost blogPost in Model)
                {
                    <li>
                        <a href="https://localhost:44384/Blog/Detalle?id=@blogPost.id"><h2>@blogPost.titulo</h2></a>
                        <h3>Autor:@blogPost.autor<small> Fecha: @blogPost.fechac</small></h3>
                    </li>

                }
            </ul>

        </section>
    </main>
</body>
</html>
