﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    DateTime d = DateTime.Now;
    String fecha = d.ToString();
}
<html>
<head>

</head>
<body>
    <main>
        <section class="row">
            <div class="col-md-12 text-xl-center mt-3">
                <h1>@Model.blogPost.titulo</h1>
                <h3>Autor: @Model.blogPost.autor</h3><b>Fecha: @Model.blogPost.fechac</b>
                <p class="text-justify">@Model.blogPost.contenido</p>
            </div>
        </section>
        <section class="row">
            <form method="post" action="https://localhost:44384/Blog/addComentario?idBlog=@Model.blogPost.id">
                <h4>Comentarios:</h4>
                <ul>
                    @foreach (Comentario comentario in Model.lcomentario)
                    {
                        <li><small>@comentario.fechac</small><br />@comentario.detalle</li>

                    }
                </ul>

                <h3>Agrega un comentario</h3>
                <textarea name="detalle" rows="4" cols="60">
                
                </textarea>
                <input name="fechac" type="hidden" value="@d.ToString()" />
                <button>Enviar</button>
            </form>
        </section>
    </main>
</body>
</html>