﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    DateTime dt = DateTime.Now;
    String fecha = dt.ToString();
}
<html>
<head>

</head>
<body>
    <main>
        <section>
            <h1>CREACION DE NUEVO BLOG POST</h1>
            <form method="post" action="https://localhost:44384/Blog/RegistrarBlog">
                <a>TITULO:</a><input name="titulo" type="text" placeholder="Ingrese titulo" />
                <a>AUTOR:</a><input name="autor" type="text" placeholder="Ingrese autor" /><br />
                <a>CONTENIDO:</a><br />
                <input name="fechac" type="hidden" value="@dt.ToString()" />
                <textarea name="contenido" rows="30" cols="50"></textarea>

                <button>Registrar</button>
            </form>
        </section>
    </main>
</body>
</html>